body {
  background-color: #090909;
  min-height: 100vh;
}
@media (max-width: 710px) {
  body {
    position: relative;
  }
  body::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/fitnessbg-s.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 400px;
    z-index: -10;
  }
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.5);
    z-index: -9;
  }
}
@media (min-width: 711px) {
  body {
    position: relative;
  }
  body::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/fitnessbg.webp");
    background-position: top;
    background-repeat: no-repeat;
    z-index: -10;
  }
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.5);
    z-index: -9;
  }
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.App {
  color: #E6E6EA;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
}

.red-dark {
  color: #850F05;
}

.hero {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.hero .hero-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #FFFFFF;
  margin-block-end: 0.5rem;
  font-weight: 600;
}
.hero .hero-subtitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #AAAAB6;
  max-width: 23rem;
}

.icon-45 {
  height: 3rem;
  width: 3rem;
}

.TopBar {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 30rem;
}

.TopBarText {
  font-weight: 600;
  margin-left: 0.5rem;
}

.SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6E6EA;
  padding: 0.25rem;
  border-radius: 0.5rem;
  max-width: 30rem;
  flex-grow: 1;
}

.SearchText {
  color: #090909;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  flex-grow: 1;
  border: none;
  outline: none;
  display: flex;
  width: 100px;
}

.SearchIcon {
  width: 36px;
  height: 36px;
}

.LightRedButton {
  display: flex;
  align-items: center;
  background-color: #CA0707;
  color: #FFFFFF;
  border: none;
  padding: 8px 16px;
  margin: 0.75rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;
}

.FilterIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

.XIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

.WhiteBold {
  font-weight: bold;
  color: #FFFFFF;
}

.WhiteBold18 {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 18px;
}

button.BlackRedButton {
  display: flex;
  align-items: center;
  background-color: #090909;
  color: #FFFFFF;
  border-width: 1px;
  border-color: #850F05;
  border-style: solid;
  padding: 8px 16px;
  margin: 0.75rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;
}

.FilterPopOut {
  z-index: 60;
  position: fixed;
  background-color: #090909;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.FilterPopOut .FilterPadding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 64px;
}

.mr-4px {
  margin-right: 8px;
}

.FilterPopOutHeader {
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-color: #850F05;
  border-bottom-style: solid;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.PopUpFilterSection {
  display: flex;
  flex-direction: column;
}

.FilterSection {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

.FilterSectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 30rem;
}

.ActiveFilterButton, .FilterButton {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: none;
  padding: 8px 8px;
  margin: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;
  font-weight: 600;
}

.FilterButton {
  background-color: #737387;
}

.ActiveFilterButton {
  background-color: #850F05;
  white-space: nowrap;
}

.ButtonContainer {
  display: flex;
  flex-wrap: wrap;
}

.ActiveButtonContainer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 5.5rem;
  scrollbar-width: thin;
  scrollbar-color: #850F05;
  max-width: 30rem;
}

.PopOutSubmitButton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #474C57;
  color: #090909;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 80;
}

.HomeSubmitButton {
  height: 3rem;
  background-color: #474C57;
  margin-top: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 30rem;
  color: #090909;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.exerciseComponent {
  background: #292929;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  max-width: 22rem;
  flex-direction: column;
  display: flex;
  width: 100%;
}
.exerciseComponent .text {
  flex-direction: column;
  display: flex;
}
.exerciseComponent .text .HeaderText {
  font-size: 1.25rem;
  font-weight: 600;
}
.exerciseComponent .text .SubText {
  color: #737387;
  font-weight: 500;
}
.exerciseComponent .shrunken {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.exerciseComponent .exerciseIcon {
  height: 1.875rem;
  width: 1.875rem;
}
.exerciseComponent .exerciseIconSmall {
  height: 1.5rem;
  width: 1.5rem;
}
.exerciseComponent .gifImage {
  height: auto;
  max-height: 18rem;
  max-width: 18rem;
  border-radius: 1rem;
  opacity: 80%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.exerciseComponent .ExpandedSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.exerciseComponent .BottomStats {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.exerciseComponent .StatGroup {
  flex-direction: row;
  display: flex;
}
.exerciseComponent .StatText {
  margin-left: 0.5rem;
}

.SearchedTopButtons {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  max-width: 30rem;
}

.exerciseComponentContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.1rem;
  justify-items: center;
  max-width: 30rem;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pagination-description {
  flex-grow: 1;
  text-align: center;
}

@media (min-width: 710px) {
  .FilterPopOut {
    width: 710px;
    height: 100vh;
  }
  .PopOutSubmitButton {
    width: 710px;
  }
}

/*# sourceMappingURL=App.css.map */
