$off-white: #E6E6EA;
$white: #FFFFFF;
$off-black: #090909;
$gray-text: #7B7B8E;
$red-light: #CA0707;
$red-dark: #850F05;
$gray-button: #737387;
$gray-submit: #474C57;
$gray-component: #292929;



.App {
  color: $off-white;
}

body {
  background-color: $off-black;
}