$off-white: #E6E6EA;
$white: #FFFFFF;
$off-black: #090909;
$gray-text: #AAAAB6;
$red-light: #CA0707;
$red-dark: #850F05;
$gray-button: #737387;
$gray-submit: #474C57;
$gray-component: #292929;


body {
  background-color: $off-black;
  min-height: 100vh;

  @media (max-width: 710px) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      //top: -2rem;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/fitnessbg-s.webp');
      background-position: top;
      background-repeat: no-repeat;
      background-size: auto 400px;
      z-index: -10;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#090909, 0.5);
      z-index: -9;
    }
  }

  @media (min-width: 711px) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/fitnessbg.webp');
      background-position: top;
      background-repeat: no-repeat;
      z-index: -10;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#090909, 0.5);
      z-index: -9;
    }
  }
}



p {
  margin-block-start: 0;
  margin-block-end: 0;
}


.App {
  color: $off-white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;

}

.red-dark {
  color: $red-dark;
}


.hero {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 2rem;

  .hero-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: $white;
    margin-block-end: 0.5rem;
    font-weight: 600;
  }

  .hero-subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: $gray-text;
    max-width: 23rem;
  }
}

.icon-45 {
  height: 3rem;
  width: 3rem;
}

.TopBarMobile {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 30rem;
}

.TopBarText {
  font-weight: 600;
  margin-left: 0.5rem;
}

.SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $off-white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  max-width: 30rem;
  flex-grow: 1;
}

.SearchText {
  color: $off-black;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  flex-grow: 1;
  border: none;
  outline: none;
  display: flex;
  width: 100px;
}

.SearchIcon {
  width: 36px;
  height: 36px;
}

.LightRedButton {
  display: flex;
  align-items: center;
  background-color: $red-light;
  color: $white;
  border: none;
  padding: 8px 16px;
  margin: 0.75rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;
}

.FilterIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

.XIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

.WhiteBold {
  font-weight: bold;
  color: $white;
  line-height: 1.5rem;
}

.WhiteBold18 {
  font-weight: bold;
  color: $white;
  font-size:18px;
  line-height: 1.5rem;
}

button.BlackRedButton {
  display: flex;
  align-items: center;
  background-color: $off-black;
  color: $white;
  border-width: 1px;
  border-color: $red-dark;
  border-style: solid;
  padding: 8px 16px;
  margin: 0.75rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;
}

.FilterPopOut{
  z-index: 60;
  position: fixed;
  background-color: $off-black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;


  .FilterPadding{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 64px;
  }

}

.mr-4px {
  margin-right: 8px;
}


.FilterPopOutHeader{
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-color: $red-dark;
  border-bottom-style: solid;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.PopUpFilterSection {
  display:flex;
  flex-direction: column;
}

.FilterSection {
  display:flex;
  flex-direction: column;
  max-width: 30rem;
  padding-bottom: 0.5rem;
}

.FilterSectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 30rem;
}

%button-style {
  display: flex;
  align-items: center;
  color: $white;
  border: none;
  padding: 8px 8px;
  margin: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;
  font-weight: 600;
}

.FilterButton {
  @extend %button-style;
  background-color: $gray-button;

}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.ActiveFilterButton {
  @extend %button-style;
  background-color: $red-dark;
  white-space: nowrap;
}

.ButtonContainer {
  display: flex;
  flex-wrap: wrap;
}

.ActiveButtonContainer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 5.5rem;
  //scrollbar-width: thin;
  //scrollbar-color: $red-dark;
  max-width: 30rem;
}


.ActiveButtonContainer::-webkit-scrollbar-track {
  background: $gray-component;
}

.ActiveButtonContainer::-webkit-scrollbar-thumb {
  background: $red-dark;
}


.PopOutSubmitButton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: $gray-submit;
  color: $off-black;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 80;
}

.HomeSubmitButton {
  height: 3rem;
  background-color: $gray-submit;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 30rem;
  color: $off-black;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}



.exerciseComponent {
  background: $gray-component;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  max-width: 22rem;
  flex-direction: column;
  display: flex;
  width: 100%;


  .text {
    flex-direction: column;
    display: flex;

    .HeaderText {
      font-size: 1.25rem;
      font-weight: 600;
    }

    .SubText {
      color: $gray-button;
      font-weight: 500;
    }

  }

  .shrunken {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .exerciseIcon {
    height: 1.875rem;
    width: 1.875rem;
  }

  .exerciseIconSmall {
    height: 1.5rem;
    width: 1.5rem;
  }

  .gifImage {
    height: auto;
    max-height: 18rem;
    max-width: 18rem;
    border-radius: 1rem;
    opacity: 80%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

  }

  .ExpandedSection{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .BottomStats{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .StatGroup {
    flex-direction: row;
    display: flex;
  }

  .StatText {
    margin-left: 0.5rem;
  }

};

.SearchedTopButtons {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  max-width: 30rem;
}

.FilterSectionHeader.noMax {
  max-width: 100%;
}

.exerciseComponentContainer {
  display: grid;
  grid-template-columns: 1fr; // 1 column in mobile view
  gap: 0.1rem;
  justify-items: center;
  max-width: 30rem;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pagination-description {
  flex-grow: 1;
  text-align: center;
}

.LandingPage{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.TopBarDesktop{
  display: none;
}



@media (min-width: 710px) {
  .FilterPopOut {
    width: 710px;
    height: 100vh;
  }

  .PopOutSubmitButton {
    width: 710px;
  }

  .LandingPage{
    align-items: start;
    padding-left: 5rem;
  }

  .SearchPage{
    align-items: start;
    padding-left: 5rem;
  }

  .TopBarMobile {
    padding-top: 1.75rem;
    padding-bottom: 1rem;
  }



  .hero{
    margin-top: 1rem;
    .hero-title {
      font-size: 2.75rem;
      max-width: 30rem;
      line-height: 3.25rem;
      margin-bottom: 0.75rem;
  }
  }

  .SearchIcon {
    width: 40px;
    height: 40px;
  }

  .FilterSection {
    padding-bottom: 1rem;
  }

  .FilterSectionHeader {
    max-width: 100%;

  }

}

.DesktopTopBarHeader {
  display: none;
}

@media (min-width: 1020px ) {
  .SearchWrapper {
    display: flex;
    flex-direction: row;
  }

  .SearchPage {
    padding-left: 3rem;
  }

  .FirstHalf {
    padding-top: 1rem;
  }

  .TopBarMobile {
    display: none;
  }

  .TopBarMobile.noHide {
    display: flex;
  }

  .TopBarDesktop{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    flex-direction: row;
    align-items: center;
    max-width: 30rem;
    min-width: 25rem;
  }

  .DesktopTopBarHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ActiveButtonContainer{
    max-height: 8rem;
  }

  .exerciseComponent {
    background: $gray-component;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    max-width: 32rem;
    flex-direction: column;
    display: flex;
    width: 100%;
  }

  .PaginationExercise{
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pagination-container {
    padding-top: 3rem;
    justify-content: space-between;
    width: 100%;
  }

  .exerciseComponentContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.1rem;
    justify-items: center;
    max-width: 32rem;
  }

  .QuickFilter{
    padding-top: 2rem;
  }

  .QuickPadding{
    margin-bottom: 2rem;
  }

  .QuickPadding2{
    margin-bottom: 1rem;
  }


}

@media (min-width: 1420px ) {

  .SearchWrapper {
    align-items: flex-start
  }

  .exerciseComponent {
    background: $gray-component;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    min-width: 25.5rem;
    max-width: 32rem;
    flex-direction: column;
    display: flex;
    width: 100%;
  }

  .PaginationExercise{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;

  }

  .pagination-container {
    padding-top: 3rem;
    justify-content: space-between;
    max-width: 900px;
    font-size: 1.375rem;
    margin-bottom: 2rem;
  }

  .exerciseComponentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
    justify-items: center;
    column-gap: 3rem;
    max-width: 100%;
  }

  .QuickFilter{
    padding-top: 2rem;
  }

  .QuickPadding{
    margin-bottom: 2rem;
  }

  .QuickPadding2{
    margin-bottom: 1rem;
  }


}